@import '~antd/dist/antd.css';

#layout {
    height: 1200px;
}

#content-card {
    background-color: rgba(0, 0, 0, 0) !important;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background-image: url('./tactus.png');
  background-size: 140px;
  background-repeat: no-repeat;
  margin: 16px;
}